body{
  font-family: 'Poppins', sans-serif;
}
.bg-custom-1 {
  background-color: #F7EDED;
  height: 60px;
  font-weight: bolder;
}
.cat{
font-size: 18px;
color: #BB1928;
}
.btn-outline-danger {
  color:  #BB1928;
}
.a:hover {
  text-decoration: underline;
  font-weight: bolder;
}
.search {
background-color: #dad6d6;
border-radius: 5px;
}
.btn-danger{
width: 86px;
height: 40px;
background: #BB1928;
border-radius: 5px;
}

.new{
  font-size: 70px;
  font-weight: bolder;
  color: #BB1928;
}
.p2{
font-weight: 600;
font-size: 24px;
color: #BB1928;
}
.p22{
  font-weight: 600;
font-size: 24px;
color: #0C0B0B;
}


.bnt{
width: 150px;
height: 70px;
font-weight: bold;
font-size: 24px;
}
.caption{
font-weight: 600;
font-size: 25px;

color: #BB1928;
}
.seeAll{
font-weight: 500;
font-size: 20px;
line-height: 36px;
color: #BB1928;
}
footer{
height: 470px;
background: #FDF5F5;
}
.ft{
font-weight: 500;
font-size: 18px;
color: #BB1928;
}
a {
  color: #BB1928;
}
a:hover {
  color: #BB1928;
  text-decoration: none;
}
.cpy{
font-size: 14px;
color: #000000;
}
.icon{
  font-size:25px;
  color: #BB1928;
   ;
}
.choc{
font-size: 70px;
color: #0C0B0B;
font-weight: bolder;
}
section {
  background-image:url("https://res.cloudinary.com/dpakfqwzp/image/upload/v1595783611/unbox/rv1_jtftza.png"); background-repeat: no-repeat;background-size: cover;height:500px;
   max-width: 100%;
}
.sort {
  color: #BB1928;
  background-color: #F7EDED;
  font-weight: bold;
}